/**********************************************************************/

/****                                                              ****/
/**** <<===== === ! | THE APP STYLING STARTS HERE | ! === =====>>  ****/
/**** <<=====                                                      ****/
/****               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^                   ****/

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.plus-icon {
  font-size: 26pt;
  transition: transform 0.3s;
}
.plus-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/**** <====\ == ! | COMPONENTS STYLING STARTS HERE| ! == /====>  ****/

.app-content-holder {
  width: 100%;
  height: 100vh;
}

/* <--- --- | NAV-BAR COMPONENT STYLING | --- ---> */

.app-global-navbar {
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 21px;
  border-bottom: 1px solid black;
}

.global-navbar-items-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.global-navbar-emptyspace {
  width: 43%;
}

.global-navbar-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.global-navba-link-item {
  font-size: 18pt;
  align-self: center;
  text-decoration: none;
  color: black;
}

/* <--- --- | REMINDERS-BAR COMPONENT STYLING | --- ---> */

.reminders-bar {
  height: 100%;
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px 0 15px;

  background-color: #048a81;
}

.reminder-bar-title-holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}

.reminder-bar-title {
  font-size: 30px;
  color: #ffff;
}

.reminder-bar-reminder-items-container {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <--- --- | REMINDER NOTIFICATION COMPONENT STYLING | --- ---> */

.reminder-notification-outer {
  height: 20%;
  width: 95%;
  background-color: #ffffff81;
  border-radius: 12px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.reminder-notification-inner {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
}

.reminder-notification-top-part {
  width: 93%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reminder-notification-heading {
  font-size: 10pt;
  width: 65%;
  padding-top: 10px;
}

.reminder-notification-description {
  width: 65%;
  font-size: 9pt;
}

.reminder-notification-priority-indicator {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
}

/* <--- --- | REMINDER ITEM COMPONENT STYLING | --- ---> */

.reminder-item-outter {
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  background-color: #f5f5f5;
}
.reminder-item-inner {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  padding-left: 23px;
}

.reminder-item-checkbox {
  width: 37px;
  height: 37px;
}

.reminder-item-main-content-holder {
  height: 10%;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
}

.reminder-item-main-content-top-part {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.reminder-item-priority-indicator {
  width: 25px;
  height: 25px;
  margin-left: 30px;
  border-radius: 50%;
  background-color: grey;
}

.reminder-item-title {
  font-size: 21pt;
}

.reminder-item-description {
  width: 70%;
  font-size: 17pt;
}
.reminder-item-update-icon {
  font-size: 18pt;
  align-self: flex-start;
  padding-top: 30px;
  margin-left: 140px;
}

/* <--- --- | APPLICANT'S PROFILE ITEM COMPONENT STYLING | --- ---> */

.applicant-profile-item-outter {
  width: 880px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 7px 15px 7px 15px;
  border-radius: 12px;
  background: linear-gradient(to right, #048a81, #92d77b47);
}
.applicant-profile-item-inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
}

.applicant-profile-item-picture-holder {
  width: 10%;
}

.applicant-profile-item-picture {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

.applicant-profile-item-main-content-holder {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.applicant-profile-item-name {
  height: 20%;
  font-size: 23pt;
}

.applicant-profile-item-specification-item {
  font-size: 14pt;
}

.applicant-profile-item-specifications-holder {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.applicant-profile-item-icons-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-start;
  margin-left: 110px;
  margin-top: 20px;
}
.applicant-profile-item-icon {
  font-size: 17pt;
  margin-left: 30px;
  transition: transform 0.3s;
}
.applicant-profile-item-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* <--- --- | HOME PAGE STAT CARD COMPONENT STYLING | --- ---> */

.stat-card-outter {
  width: 560px;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 12px;
  background-color: white;
}
.stat-card-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stat-card-arrow-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* <-  CUSTOM SHAPE  -> */
  width: 135px;
  height: 92px;
  background: #fffffe;
  clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%);
  border-radius: 6px;
}

.stat-card-arrow-shape-inner-container {
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;
}
.stat-card-text-piece {
  height: 1%;
  font-size: 16pt;
}

.home-page-stat-card-top-holder {
  margin-bottom: 63px;
}

.home-page-stat-cards-bottom-holder {
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stat-card-text {
  padding-left: 30px;
  font-size: 20px;
}
/***  <==== === ! | HOME PAGE PERCENTIGE BOX| ! === ====>  ***/

.progress {
  height: 10px;
  width: 300px;
  position: relative;
  margin: 15px 15px;
  border-radius: 20px;
  background-color: #d8d8d8;
}

.progress-done {
  background-color: #048a81;
  box-shadow: #bcd98c;
  height: 100%;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #fff;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.home-page-progress-bar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  border-radius: 15px;
  background-color: #d9d9d993;
}
.home-page-progress-bar-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/***  <==== === ! | HOME PAGE | ! === ====>  ***/

.home-page-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-page-main-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.home-page-main-content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-page-stat-cards-holder {
  height: 76%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/***  <==== === ! | APPLICANTS PAGE | ! === ====>  ***/

.applicatns-page-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

/* <--- --- | APPLICANT PAGE MAIN CONTENT COMPONENT STYLING | --- ---> */

.applicants-page-main-content {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.applicants-page-main-content-header {
  width: 93%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 55px 40px 35px 40px;
}
.applicant-page-tabs-holder {
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.applicant-page-list-tab {
  width: 76px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 12px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #f5f5f5f5;
  transition: transform 0.3s;
}
.applicant-page-list-tab-active {
  width: 76px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 12px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #bcd98c;
  transition: transform 0.3s;
}

.applicant-page-list-tab:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.applicants-page-center {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.applicant-page-layout-block {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.applicant-page-layout-none {
  display: none;
}
.applicants-list-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  overflow-x: scroll;
}

.popup-message-outter {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d8d8d8;
}
.popup-message-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.popup-message-top-section {
  align-self: flex-end;
}
.popup-message-close-icon {
  font-size: 16pt;
  cursor: pointer;
}

/* <--- --- | APPLICANT PAGE GRID LAYOUT COMPONENT STYLING | --- ---> */
.applicants-grid-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-top: 15px;
}
.applicants-grid-holder {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 20px 10px 20px;
}
.applicants-grid-holder > div {
  width: 360px;
  height: 250px;
  flex: 0 50%;
}

/* <--- --- | APPLICANT CARD COMPONENT STYLING | --- ---> */

.applicant-card-outter {
  width: 385px;
  height: 220px;
  border: 1px solid black;
  border-radius: 12px;
  background-image: linear-gradient(to right, #048a81, #92d77b54);
}

.applicant-card-inner {
  width: 97%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8px 15px 8px;
}
.applicant-card-top {
  width: 88%;
  display: flex;
  flex-direction: row;
}
.applicant-card-image {
  width: 100px;
  height: 91px;
  border-radius: 6px;
}
.applicant-card-applicant-name {
  font-size: 18pt;
  margin-left: 10px;
}

.applicant-card-bottom {
  width: 88%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.applicant-card-applicant-program {
  font-size: 18pt;
}
.applicant-card-onboarding-specific {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.applicant-card-payment {
  font-size: 16pt;
}


/***  <==== === ! | CREATE NEW APPLICANT FORM PAGE | ! === ====>  ***/

.create-applicant-form-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-applicant-form-holder {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.create-applicant-form {
  width: 85%;
  height: 90%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}
.create-applicant-form-personal-data {
  width: 99%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 80px 60px 60px 30px;
}
.applicant-form-personal-left-side {
  width: 1fr;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.applicant-form-personal-field {
  width: 320px;
  height: 22px;
}
.applicant-form-personal-right-side {
  padding-right: 200px;
}
.applicant-form-education-data {
  width: 99%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 60px 60px 30px;
}
.applicant-form-items-flex {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 20px 0px;
}
.applicant-form-item {
  width: 184px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px;
}
.applicant-form-item-active {
  background-color: #048a81;
  color: #ffffff;
}
.applicant-form-item:hover{
  background-color: #048a81;
  color: #ffffff;
}

.applicant-form-select {
  width: 30%;
  height: 22px;
}
.add-english-hours {
  width: 5%;
}
.language-certif-data {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 60px 60px 30px;
}
.applicant-form-flex-2 {
  width: 75%;
}
.commit-button {
  padding: 10px 30px;
  border: 5px solid #06C1B5;
  border-radius:  15px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 100px;
  background-color: #048a81;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 6px #048A67;
}
.commit-button2 {
  padding: 5px 9px;
  border: 5px solid #06C1B5;
  border-radius:  15px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #048a81;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 6px #048A67;
}
.cancel-button{
  background: none;
  border: none;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}
.cancel-button2{
  background: none;
  border: none;
  color: grey;
  font-size: 20px;
  margin-left: 140px;
  cursor: pointer;
}
.buttons-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline-end: 100px;
  margin-top: 100px;

}
/***  <==== === ! | APPLICANTS IN PROFILE PAGE| ! === ====>  ***/
.in-applicants-profile-page-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #048A81;
  margin-top: 100px;
}
 .in-applicants-profile-page-notes{
  width: 80%;
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffff;
  border: 2px solid black;
  border-radius: 15px;
} 
.in-applicant-profile-picture-holder{
  width: 20%;
}
.in-applicant-profile-picture{
  width: 100%;
  height: 100;
  border-radius: 6px;
  margin-left: 620px;
  margin-top: 60px;
}
.in-applicant-profile-information-holder-outer{
  width: 50%;
  background-color: #D9D9D9;
}
.in-applicant-profile-information-holder-inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/***  <==== === ! | CALENDAR PAGE | ! === ====>  ***/

.calendar-page-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}
.calendar-page-main-content {
  width: 100%;
  background-color: grey;
}

/***  <==== === ! | REMINDERS PAGE | ! === ====>  ***/

.reminder-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #048a81, #048a8129);
}
.reminder-page-header-bar {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 40px 20px 40px;
}

.reminders-page-main-content-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reminders-page-reminder-items-holder {
  width: 60%;
  height: 50%;
}
.reminder-page-filter-outter {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #ffffff;
  transition: transform 0.3s;
}
.reminder-page-filter-outter:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.reminders-page-filter-icon {
  font-size: 18pt;
}

/***  <==== === ! | CREATE REMINDER FORM PAGE | ! === ====>  ***/

.create-reminder-form-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.create-reminder-form-holder {
  width: 65%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}

.create-reminder-form {
  width: 90%;
  height: 85%;
  overflow-y: scroll;
}

.create-reminder-form-first-part {
  display: flex;
  flex-direction: column;
}
.create-reminder-first-part-input {
  font-size: 22pt;
  width: 40%;
  height: 40px;
}
.create-reminder-top-input {
  border-radius: 12px 12px 0 0;
}
.create-reminder-bottom-input {
  border-radius: 0 0 12px 12px;
}

.create-reminder-form-second-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.create-reminder-date {
  display: flex;
  flex-direction: column;
}

.create-reminder-title {
  font-size: 24pt;
}

.create-reminder-date-input {
  width: 150px;
  height: 30px;
  margin-left: 80px;
}

.create-reminder-time-input {
  width: 170px;
  height: 30px;
  margin-left: 80px;
  font-size: 30pt;
  border: none;
}

.create-reminder-form-third-part {
  display: flex;
  flex-direction: column;
}

.create-reminder-priority-items-holder {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
}

.priority-item {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.priority-item-low {
  background-color: #30ca30;
}

.priority-item-medium {
  background-color: #ffa500;
}

.priority-item-high {
  background-color: #ff0000;
}
.buttons-holder-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 100px;
}
.global-back-btn{
  background: none;
  border: none;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}
.global-submit-btn{
  padding: 10px 30px;
  border: 5px solid #06C1B5;
  border-radius:  15px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 100px;
  background-color: #048a81;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 0 6px #048A67;
}


/* <--- --- | PROJECT PAGE PROJECT ITEM COMPONENT STYLING | --- ---> */

.project-item-outter {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 70px 4px 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
  margin-bottom: 40px;
}
.project-item-inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.project-image {
  width: 40%;
}
.project-item-year {
  font-size: 26pt;
}
.project-item-title {
  font-size: 22pt;
}

/***  <==== === ! | PROJECTS PAGE | ! === ====>  ***/

.projects-page-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.projects-page-main-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}
.projects-page-main-content {
  width: 100%;
  background-color: grey;
}
.project-page-page-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #048a81;
}
.projects-page-projects-items-holder {
  height: 68%;
  width: 89%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
